    # cson converts to json but lets us write nicer snippets
  # main issue with snippets is here https://github.com/Microsoft/vscode/issues/15140
  # doco for cson is here https://github.com/bevry/cson
  # to compile the snippets
  #     install cson
  #     execute the following
  #         cson2json csharp.cson>csharp.json & cson2json json.cson>json.json


snippetname:
	prefix: 'snippet-name'
	body:  ['''	
	''']
    
redisconnectoinstring:
	prefix: 'redis-connection-string'
	body: ['''
"MyRedis":"redis://[password]@[redisinstancename].redis.cache.windows.net:6380?ssl=true&db=1"
''']


AzureWebJobsStorage:
	prefix: 'azure-web-job-storage-settings'
	body: ['''
"AzureWebJobsStorage": "UseDevelopmentStorage=true"
''']

# #########################
#      DEMO #1 - GET CUSTOMER DIRECT FROM DATABASE
# #########################


azsp001a:
	prefix: 'azsp-fun-1a-getcustomer-funcjson'
	description: 'description',
	body:  ['''			
{
   "disabled": false,
   "bindings": [
     {
       "authLevel": "function",
       "name": "req",
       "type": "httpTrigger",
       "direction": "in",
       "route": "customer/{id?}",
       "methods": [
         "get"
       ]
     },
     {
       "name": "$return",
       "type": "http",
       "direction": "out"
     }
   ]
  }
  
	''']
	

azsp001b:
	prefix: 'azsp-fun-1b-getcustomer-projectjson'
	description: 'description',
	body:  ['''			
{
    "frameworks": {
        "net46": {
            "dependencies": {
                "Dapper": "1.50.2",
                "System.Data.SqlClient": "4.1.0",
                "Microsoft.WindowsAzure.ConfigurationManager": "3.2.1"
            }
        }
    }
}
  
	''']
	


azsp001b:
	prefix: 'azsp-fun-1d-getcustomer-localsettingsjson'
	description: 'description',
	body:  ['''	
{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": ""
  },
  "ConnectionStrings": {
    "SqlConnection": "Server=tcp:[databasename].database.windows.net,1433;Initial Catalog=stevo-azsp-northwind;Persist Security Info=False;User ID=superPowers;Password=[passwords];MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
  }
}

	''']
	

# #########################
#      DEMO #2 - TIMER TRIGGER TO UPDATE REDIS CACHE
# #########################


azsp002projectjson:
	prefix: 'azsp-fun-2-syncCustomers-projectjson'
	body: ['''
  {
    "frameworks": {
        "net46": {
            "dependencies": {
                "Dapper": "1.50.2",
                "System.Data.SqlClient": "4.1.0",
                "Microsoft.WindowsAzure.ConfigurationManager": "3.2.1",
                "ServiceStack.Common": "4.5.12",
                "ServiceStack.Interfaces": "4.5.12",
                "ServiceStack.Redis": "4.5.12",
                "ServiceStack.Text": "4.5.12"
            }
        }
    }
}
  ''']

  
azsp002functionjson:
	prefix: 'azsp-fun-2-syncCustomers-functionjson'
	body: ['''
{
  "disabled": false,
  "bindings": [
    {
      "name": "myTimer",
      "type": "timerTrigger",
      "direction": "in",
      "schedule": "0 */5 * * * *"
    }
  ]
}
    ''']


azsp002localsettings:
	prefix: 'azsp-fun-2-syncCustomers-localsettingsjson'
	body: ['''
    {
   "IsEncrypted": false,
   "Values": {
       "AzureWebJobsStorage": "UseDevelopmentStorage=true",
   },
   "ConnectionStrings": {
      "SqlConnection": "[SQL Connection String]",
      "MyRedis": "redis://[password]@[cache-name].redis.cache.windows.net:6380?ssl=true&db=1"      
   }
  }
    ''']
  
  
# #########################
#      DEMO #3 - USE A SERVICE BUS FOR UPDATES
# #########################

azsp003updatefunction:
	prefix: 'azsp-fun-3-updateCustomer-functionjson'
	body:  ['''
{
  "disabled": false,
  "bindings": [
    {
      "authLevel": "function",
      "name": "req",
      "type": "httpTrigger",
      "direction": "in",
      "route": "customer",
      "methods": [
        "post"
      ]
    },
    {
      "type": "serviceBus",
      "name": "topicQueue",
      "topicName": "updateCustomer",
      "connection": "SB",
      "accessRights": "Send",
      "direction": "out"
    }
  ]
}	
	''']
